...
...
server {
    listen 8080 default_server;
    listen [::]:8080 default_server;
    root **PATH_TO_BUILD_FOLDER**;
    index index.html index.htm index.nginx-debian.html;
    server_name _;
    location / {
        try_files $uri $uri/ =404;
    }
    location /api {
        proxy_pass **HEPIC_EXPORT_IP***;
        proxy_set_header Host $http_host;
        proxy_buffers 256 4k;
        proxy_max_temp_file_size 0k;
    }
}

...
...